<center>
  <br><br><br><br>
  <div class="cd-color-gray">
  <h1 class="apt-name">
    Good Haven
  </h1>
  <div class="slideshow">
    <div class="bss-slides" tabindex="1" autofocus="autofocus">
      <figure>
        <img src="img/Good Haven - 1.jpg" width="100%" />
        <figcaption>Good Haven from Drone</figcaption>
      </figure>
      <figure>
        <img src="img/Good Haven - 2.jpg" width="100%" />
        <figcaption>Good Haven Entrance</figcaption>
      </figure>
      <figure>
        <img src="img/Good Haven - 3.jpg" width="100%" />
        <figcaption>Good Haven Office</figcaption>
      </figure>
      <figure>
        <img src="img/Good Haven - 4.jpg" width="100%" />
        <figcaption>Good Haven Apartments</figcaption>
      </figure>

    </div>
    <!-- // bss-slides -->
  </div>
</div>


<br><br><br><br>
<div class="cd-color-yellow">
<h1> Location </h1>
<div class="row">
  <div class="column-2">
  </div>
  <div class="column-5">
    <ng-map zoom="12" default-style="false" center="[32.7347291,-96.8008535]">
      <marker position="[32.7347291,-96.8008535]" />
      <control name="overviewMap" opened="true" />
    </ng-map>
  </div>
  <div class="column-4 apt-info">
    <p>1810 High Hill Blvd.</p>
    <p>Dallas, Texas 75203</p>
    <p>Phone: (214) 942-9698</p>
    <p>Fax: (214) 942-2060</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>

<br><br><br><br>
<div class="cd-color-purple">
<h1> Floorplans </h1>
<div class="row">
  <div class="column-1">
  </div>
  <div class="column-10">
    <p class="coming-soon">Coming Soon!</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>


<script>
var opts = {
  auto: {
    speed: 3500,
    pauseOnHover: true
  }
};
makeBSS('.bss-slides', opts);
</script>
