<center>
  <br><br><br><br>
  <div class="cd-color-gray">
    <h1 class="apt-name">
      Huntington Meadows
    </h1>
    <div class="slideshow">
      <div class="bss-slides" tabindex="1" autofocus="autofocus">
        <figure>
          <img src="img/Huntington - 1.jpg" width="100%" />
          <figcaption>Huntington Meadows Entrance</figcaption>
        </figure>
        <figure>
          <img src="img/Huntington - 2.jpg" width="100%" />
          <figcaption>Huntington Meadows Office</figcaption>
        </figure>
        <figure>
          <img src="img/Huntington - 3.jpg" width="100%" />
          <figcaption>Huntington Meadows Pool</figcaption>
        </figure>
        <figure>
          <img src="img/Huntington - 4.jpg" width="100%" />
          <figcaption>Huntington Meadows Playground</figcaption>
        </figure>

      </div>
      <!-- // bss-slides -->
    </div>
  </div>
<br><br><br><br>

  <div class="cd-color-yellow">

    <h1> Location </h1>
    <div class="row">
      <div class="column-2">
      </div>
      <div class="column-5">
        <ng-map zoom="12" default-style="false" center="[30.2967014,-97.6277981]">
          <marker position="[30.2967014,-97.6277981]" />
          <control name="overviewMap" opened="true" />
        </ng-map>
      </div>
      <div class="column-4 apt-info">
        <p>7000 Decker Lane</p>
        <p>Austin, Texas 78724</p>
        <p>Phone: (512) 929-5555</p>
        <p>Fax: (512) 929-5557</p>
      </div>
      <div class="column-1">
      </div>
    </div>
  </div>
<br><br><br><br>
  <div class="cd-color-purple">
    <h1> Floorplans </h1>
    <div class="floorplans">
      <div class="row">
        <ul class="pgwSlider">
          <li>
            <img src="img/floorplans/Huntington - 1.jpg" alt="1 Bedroom/1 Bathroom (672 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Huntington - 2.jpg" alt="2 Bedroom/2 Bathroom (848 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Huntington - 3.jpg" alt="3 Bedroom/2 Bathroom (1039 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Huntington - 4.jpg" alt="4 Bedroom/2 Bathroom (1239 sq ft.)">
          </li>
        </ul>
      </div>
    </div>
  </div>


  <script>
    var opts = {
      auto: {
        speed: 3500,
        pauseOnHover: true
      }
    };
    makeBSS('.bss-slides', opts);

    $(document).ready(function() {
      $('.pgwSlider').pgwSlider();
    });
  </script>
