<center>
<br><br><br><br>
  <div class="cd-color-gray">
    <h1 class="apt-name">
      Park Creek Manor
    </h1>
    <div class="slideshow">
      <div class="bss-slides" tabindex="1" autofocus="autofocus">
        <figure>
          <img src="img/Park Creek - 1.jpg" width="100%" />
          <figcaption>Park Creek Manor Entrance</figcaption>
        </figure>
        <figure>
          <img src="img/Park Creek - 2.jpg" width="100%" />
          <figcaption>Park Creek Manor Office</figcaption>
        </figure>
        <figure>
          <img src="img/Park Creek - 3.jpg" width="100%" />
          <figcaption>Recent Upgrades to Bathrooms and Kitchens</figcaption>
        </figure>
        <figure>
          <img src="img/Park Creek - 4.jpg" width="100%" />
          <figcaption>Park Creek Manor Apartments</figcaption>
        </figure>

      </div>
      <!-- // bss-slides -->
    </div>
  </div>


<br><br><br><br>
  <div class="cd-color-yellow">

    <h1> Location </h1>
    <div class="row">
      <div class="column-2">
      </div>
      <div class="column-5">
        <ng-map zoom="12" default-style="false" center="[32.7211541,-96.8807582]">
          <marker position="[32.7211541,-96.8807582]" />
          <control name="overviewMap" opened="true" />
        </ng-map>
      </div>
      <div class="column-4 apt-info">
        <p>2520 Coombs Creek Street</p>
        <p>Dallas, Texas 75211</p>
        <p>Phone: (214) 467-3553</p>
        <p>Fax: (214) 467-3556</p>
      </div>
      <div class="column-1">
      </div>
    </div>
  </div>

<br><br><br><br>
  <div class="cd-color-purple">

    <h1> Floorplans </h1>
    <div class="floorplans">
      <div class="row">
        <ul class="pgwSlider">
          <li>
            <img src="img/floorplans/Park Creek - 1.jpg" alt="1 Bedroom/1 Bathroom">
          </li>
          <li>
            <img src="img/floorplans/Park Creek - 2.jpg" alt="2 Bedroom/1 Bathroom">
          </li>
          <li>
            <img src="img/floorplans/Park Creek - 3.jpg" alt="2 Bedroom/1 Bathroom (795 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Park Creek - 4.jpg" alt="3 Bedroom/2 Bathroom (918 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Park Creek - 5.jpg" alt="3 Bedroom/1 Bathroom (923 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Park Creek - 6.jpg" alt="3 Bedroom/2 Bathroom (1131 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Park Creek - 7.jpg" alt="3 Bedroom/2 Bathroom (1160 sq ft.)">
          </li>
        </ul>
      </div>

    </div>
  </div>


  <script>
    var opts = {
      auto: {
        speed: 3500,
        pauseOnHover: true
      }
    };
    makeBSS('.bss-slides', opts);

    $(document).ready(function() {
      $('.pgwSlider').pgwSlider();
    });
  </script>
