<center>
<br><br><br><br>
  <div class="cd-color-gray">
  <h1 class="apt-name">
    Prince Hall II
  </h1>

    <p class="coming-soon">Coming Soon!</p>

</div>


<br><br><br><br>
<div class="cd-color-yellow">
<h1> Location </h1>
<div class="row">
  <div class="column-2">
  </div>
  <div class="column-5">
    <ng-map zoom="12" default-style="false" center="[32.7347291,-96.8008535]">
      <marker position="[32.7347291,-96.8008535]" />
      <control name="overviewMap" opened="true" />
    </ng-map>
  </div>
  <div class="column-4 apt-info">
    <p>4820 E. Berry Street</p>
    <p>Fort Worth, Texas 76105</p>
    <p>Phone: (817) 531-1121</p>
    <p>Fax: (817) 531-0835</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>

<br><br><br><br>
<div class="cd-color-purple">
<h1> Floorplans </h1>
<div class="row">
  <div class="column-1">
  </div>
  <div class="column-10">
    <p class="coming-soon">Coming Soon!</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>


<script>
var opts = {
  auto: {
    speed: 3500,
    pauseOnHover: true
  }
};
makeBSS('.bss-slides', opts);
</script>
