<center>
<br><br><br><br>
  <div class="cd-color-gray">
  <h1 class="apt-name">
    Raible Place
  </h1>
  <div class="slideshow">
    <div class="bss-slides" tabindex="1" autofocus="autofocus">
      <figure>
        <img src="img/Raible Place - 1.jpg" width="100%" />
        <figcaption>Raible Place</figcaption>
      </figure>
      <figure>
        <img src="img/Raible Place - 2.jpg" width="100%" />
        <figcaption>Raible Place Entrance</figcaption>
      </figure>
      <figure>
        <img src="img/Raible Place - 3.jpg" width="100%" />
        <figcaption>Raible Place Office</figcaption>
      </figure>

    </div>
    <!-- // bss-slides -->
  </div>
</div>


<br><br><br><br>
<div class="cd-color-yellow">
<h1> Location </h1>
<div class="row">
  <div class="column-2">
  </div>
  <div class="column-5">
    <ng-map zoom="12" default-style="false" center="[32.8263606,-96.9444135]">
      <marker position="[32.8263606,-96.9444135]" />
      <control name="overviewMap" opened="true" />
    </ng-map>
  </div>
  <div class="column-4 apt-info">
    <p>1216 N. Britain Road</p>
    <p>Irving, Texas 75061</p>
    <p>Phone: (972) 438-1555</p>
    <p>Fax: (972) 554-0315</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>

<br><br><br><br>
<div class="cd-color-purple">
<h1> Floorplans </h1>
<!-- MAYBE TRY A TABLE HERE -->
  <div class="floorplans">
    <div class="row">
      <ul class="pgwSlider">
        <li>
          <img src="img/floorplans/Raible Place - 1.jpg" alt="1 Bedroom/1 Bathroom (653 sq ft.)">
        </li>
        <li>
          <img src="img/floorplans/Raible Place - 2.jpg" alt="2 Bedroom/2 Bathroom (853 sq ft.)">
        </li>
        <li>
          <img src="img/floorplans/Raible Place - 3.jpg" alt="3 Bedroom/2 Bathroom (1032 sq ft.)">
        </li>
      </ul>
    </div>

  </div>
</div>
</div>


<script>
var opts = {
  auto: {
    speed: 3500,
    pauseOnHover: true
  }
};
makeBSS('.bss-slides', opts);

$(document).ready(function() {
  $('.pgwSlider').pgwSlider();
});
</script>
