<center>
<br><br><br><br>
  <div class="cd-color-gray">
    <h1 class="apt-name">
      Southern Oaks
    </h1>
    <div class="slideshow">
      <div class="bss-slides" tabindex="1" autofocus="autofocus">
        <figure>
          <img src="img/Southern Oaks - 1.jpg" width="100%" />
          <figcaption>Southern Oaks</figcaption>
        </figure>
        <figure>
          <img src="img/Southern Oaks - 2.jpg" width="100%" />
          <figcaption>Southern Oaks Entrance</figcaption>
        </figure>
        <figure>
          <img src="img/Southern Oaks - 3.jpg" width="100%" />
          <figcaption>Southern Oaks Office</figcaption>
        </figure>
        <figure>
          <img src="img/Southern Oaks - 4.jpg" width="100%" />
          <figcaption>Southern Oaks Office</figcaption>
        </figure>

      </div>
      <!-- // bss-slides -->
    </div>
  </div>


<br><br><br><br>
  <div class="cd-color-yellow">
    <h1> Location </h1>
    <div class="row">
      <div class="column-2">
      </div>
      <div class="column-5">
        <ng-map zoom="12" default-style="false" center="[32.7213674,-96.7732202]">
          <marker position="[32.7213674,-96.7732202]" />
          <control name="overviewMap" opened="true" />
        </ng-map>
      </div>
      <div class="column-4 apt-info">
        <p>3424 Southern Oaks Blvd. #13</p>
        <p>Dallas, Texas 75216</p>
        <p>Phone: (214) 371-3487</p>
        <p>Fax: (214) 371-3649</p>
      </div>
      <div class="column-1">
      </div>
    </div>
  </div>

<br><br><br><br>
  <div class="cd-color-purple">
    <h1> Floorplans </h1>
    <div class="floorplans">
      <div class="row">
        <ul class="pgwSlider">
          <li>
            <img src="img/floorplans/Southern Oaks - 1.jpg" alt="2 Bedroom/1 Bathroom (900 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Southern Oaks - 2.jpg" alt="3 Bedroom/1 Bathroom (1125 sq ft.)">
          </li>
          <li>
            <img src="img/floorplans/Southern Oaks - 3.jpg" alt="4 Bedroom/2 Bathroom (1700 sq ft. Townhome)">
          </li>
          <li>
            <img src="img/floorplans/Southern Oaks - 4.jpg" alt="5 Bedroom/2 Bathroom (1850 sq ft. Townhome)">
          </li>
        </ul>
      </div>

    </div>
  </div>


  <script>
    var opts = {
      auto: {
        speed: 3500,
        pauseOnHover: true
      }
    };
    makeBSS('.bss-slides', opts);

    $(document).ready(function() {
      $('.pgwSlider').pgwSlider();
    });
  </script>
