<center>
<br><br><br><br>
  <div class="cd-color-gray">
  <h1 class="apt-name">
    Springdale Estates
  </h1>
  <div class="slideshow">
    <div class="bss-slides" tabindex="1" autofocus="autofocus">
      <figure>
        <img src="img/Springdale Estates - 1.jpg" width="100%" />
        <figcaption>Springdale Estates</figcaption>
      </figure>
      <figure>
        <img src="img/Springdale Estates - 2.jpg" width="100%" />
        <figcaption>Springdale Estates Entrance</figcaption>
      </figure>
      <figure>
        <img src="img/Springdale Estates - 3.jpg" width="100%" />
        <figcaption>Springdale Estates Office</figcaption>
      </figure>
      <figure>
        <img src="img/Springdale Estates - 4.jpg" width="100%" />
        <figcaption>Springdale Estates Office</figcaption>
      </figure>

    </div>
    <!-- // bss-slides -->
  </div>
</div>


<br><br><br><br>
<div class="cd-color-yellow">
<h1> Location </h1>
<div class="row">
  <div class="column-2">
  </div>
  <div class="column-5">
    <ng-map zoom="12" default-style="false" center="[30.2708125,-97.6954882]">
      <marker position="[30.2708125,-97.6954882]" />
      <control name="overviewMap" opened="true" />
    </ng-map>
  </div>
  <div class="column-4 apt-info">
    <p>1050 Springdale Road</p>
    <p>Austin, Texas 78721</p>
    <p>Phone: (512) 929-5141</p>
    <p>Fax: (512) 928-3234</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>

<br><br><br><br>
<div class="cd-color-purple">
<h1> Floorplans </h1>
<div class="floorplans">
  <div class="row">
    <ul class="pgwSlider">
      <li>
        <img src="img/floorplans/Springdale Estates - 1.jpg" alt="2 Bedroom/1.5 Bathroom (1058 sq ft.)">
      </li>
      <li>
        <img src="img/floorplans/Springdale Estates - 2.jpg" alt="2 Bedroom/2 Bathroom (941 sq ft.)">
      </li>
      <li>
        <img src="img/floorplans/Springdale Estates - 3.jpg" alt="3 Bedroom/2.5 Bathroom (1262 sq ft. Townhome)">
      </li>
      <li>
        <img src="img/floorplans/Springdale Estates - 4.jpg" alt="3 Bedroom/2 Bathroom (1064 sq ft.)">
      </li>
    </ul>
  </div>

</div>
</div>



<script>
var opts = {
  auto: {
    speed: 3500,
    pauseOnHover: true
  }
};
makeBSS('.bss-slides', opts);

$(document).ready(function() {
  $('.pgwSlider').pgwSlider();
});
</script>
