<center>
<br><br><br><br>
  <div class="cd-color-gray">
  <h1 class="apt-name">
    Terrace View
  </h1>
  <div class="slideshow">
    <div class="bss-slides" tabindex="1" autofocus="autofocus">
      <figure>
        <img src="img/Terrace View - 1.jpg" width="100%" />
        <figcaption>Terrace View</figcaption>
      </figure>

    </div>
    <!-- // bss-slides -->
  </div>
</div>


<br><br><br><br>
<div class="cd-color-yellow">
<h1> Location </h1>
<div class="row">
  <div class="column-2">
  </div>
  <div class="column-5">
    <ng-map zoom="12" default-style="false" center="[32.757114,-97.0118726]">
      <marker position="[32.757114,-97.0118726]" />
      <control name="overviewMap" opened="true" />
    </ng-map>
  </div>
  <div class="column-4 apt-info">
    <p>417 W. Tarrant Road</p>
    <p>Grand Prairie, Texas 75050</p>
    <p>Phone: (972) 264-5741</p>
    <p>Fax: (972) 264-0075</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>

<br><br><br><br>
<div class="cd-color-purple">
<h1> Floorplans </h1>
<div class="row">
  <div class="column-1">
  </div>
  <div class="column-10">
    <p class="coming-soon">Coming Soon!</p>
  </div>
  <div class="column-1">
  </div>
</div>
</div>


<script>
var opts = {
  auto: {
    speed: 3500,
    pauseOnHover: true
  }
};
makeBSS('.bss-slides', opts);
</script>
