<div class="container-main">

  <main>
    <div class="cd-scrolling-bg">

    </div>
    <div class="cd-fixed-bg cd-bg-1">

      <center>
        <div class="cd-container">

          <h2 id="sub-title">Uplifting Neighborhoods One Apartment Community at a Time.</h2>

        </div>
      </center>
    </div>

    <div class="main-boxes">
      <div class="boxes-section">
        <center>
        <div class="box-1">
          <center>
            <h1> Relationships </h1>
            <p>Lasting relationships are central to any success, and maintaining a reputation over the long haul means staying true to who you are.
            </p>
          </center>
        </div>

        <div class="box-2">
          <center>
            <h1> Management </h1>
            <p> AmeriSouth owns and operates over 2,000 affordable apartment homes in Texas.</p>
          </center>
        </div>

        <div class="box-3">
          <center>
            <h1> Development </h1>
             <p>We focus on the revitalization of neighborhoods through the redevelopment of blighted apartment communities.</p>
          </center>
        </div>

        <div class="box-4">
          <center>
            <h1> Family </h1>
             <p>We pride ourselves on being family owned and operated as we enter into our 30th year in business.</p>
          </center>
        </div>

        <div class="box-5">
          <center>
            <h1> Community </h1>
            <p>We emphasize local partnerships because uplifting a neighborhood starts with those already in the community.</p>
          </center>
        </div>

        <div class="box-6">
          <center>
            <h1> Legacy </h1>
            <p>AmeriSouth focuses on long term results, not short term gains.  Most communities have been under ownership for over 10 years.</p>
          </center>
        </div>
      </center>


      </div>
    </div>

    <section class="news cd-fixed-bg cd-bg-2">
      <p>IN THE NEWS:</p>
      <a target="_blank" href="http://www.dallasnews.com/opinion/commentary/2016/09/30/dallas-real-estate-developer-donating-cash-technology-programs-help-schools-poor-neighborhoods">
        <h3>"Dallas developer donating thousands to help schools in poor neighborhoods."</h3>
        <h4> - www.dallasnews.com </h4>
        READ MORE</a>
    </section>


    <br>
    <br>
  </main>
  <section class="comment">

    <p> "If you really believe that you're making a difference, and that you can leave a legacy of better schools and jobs and safer streets, why would you not spend the money? The objective is to improve the schools, bring down crime, build affordable housing, clean the streets - not to have a fair fight."</p>
    <br>
    <h3> - Michael Bloomberg</h3>
  </section>
</div>


</div>
