<div class="container-main">

  <main>
    <div class="cd-scrolling-bg">

    </div>
    <div class="cd-fixed-bg cd-bg-1">

      <center>
        <div class="cd-container">

          <h2 id="sub-title">Uplifting Neighborhoods One Apartment Community at a Time.</h2>

        </div>
      </center>
    </div>

    <div class="main-boxes">
      <div class="boxes-section">
        <center>
          <a href="#/about/who-we-are">
        <div class="box-1">
          <center>
            <h1> WHO WE ARE </h1>
            <p>Founded by Ruel Hamilton in 1987, we own and operate over 2,000 affordable apartment homes in Texas.</p>
          </center>
        </div>
      </a>

      <a href="#/about/what-we-do">
        <div class="box-2">
          <center>
            <h1> WHAT WE DO </h1>
            <p>We focus on the revitalization of neighborhoods through the redevelopment of blighted apartment communities.</p>
        </div>
      </a>

      <a href="#/about/in-the-news">
        <div class="box-3">
          <center>
            <h1> IN THE NEWS </h1>
            <p>Check out stories and articles of AmeriSouth and Ruel Hamilton in action.</p>
          </center>
        </div>
      </a>

      <a href="#/about/in-the-community">
        <div class="box-4">
          <center>
            <h1> IN THE COMMUNITY </h1>
            <p>We emphasize local partnerships because uplifting a neighborhood starts with those already in the community.</p>
          </center>
        </div>
      </a>

      <a href="#/our-properties">
        <div class="box-5">
          <center>
            <h1> OUR PROPERTIES </h1>
            <p>Amerisouth focus on long term results, not short term gains.  Most communities have been under ownership for over 10 years.</p>
          </center>
        </div>
      </a>

      <a href="#/services/resident-portal">
        <div class="box-6">
          <center>
            <h1> OUR RESIDENTS </h1>
            <p>We prioritize customer service and convenience – click here for the Resident Portal.</p>
          </center>
        </div>
      </a>
      </center>


      </div>
    </div>

    <!-- <div class="main-boxes">
      <div class="boxes-section-1 wrapper">
        <a href="#/about/relationships">
          <div class="column-4">
            <div class="box lift">
              <h1> WHO WE ARE </h1>
              <p>Founded by Ruel Hamilton in 1987, we own and operate over 2,000 affordable apartment homes in Texas.</p>
            </div>
          </div>
        </a>

        <a href="#/about/in-the-news">
          <div class="column-4">
            <div class="box lift">
              <h1> WHAT WE DO </h1>
              <p>We focus on the revitalization of neighborhoods through the redevelopment of blighted apartment communities.</p>
            </div>
          </div>
        </a>

        <a href="#/about/developoment">
          <div class="column-4">
            <div class="box lift">
              <h1> IN THE NEWS </h1>
              <p>Check out stories and articles of AmeriSouth and Ruel Hamilton in action.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="boxes-section-2 wrapper">
        <a href="#/about/developoment">
          <div class="column-4">
            <div class="box">
              <h1> IN THE COMMUNITY </h1>
              <p>We emphasize local partnerships because uplifting a neighborhood starts with those already in the community.</p>
            </div>
          </div>
        </a>

        <div class="column-4">
          <div class="box">
            <h1> OUR PROPERTIES </h1>
            <p>Amerisouth focus on long term results, not short term gains.  Most communities have been under ownership for over 10 years.</p>
          </div>
        </div>

        <div class="column-4">
          <div class="box">
            <h1> OUR RESIDENTS </h1>
            <p>We prioritize customer service and convenience – click here for the Resident Portal.</p>
          </div>
        </div>
      </div>

    </div>
</div> -->

<section class="news cd-fixed-bg cd-bg-2">
  <p>RECENT NEWS:</p>
  <a target="_blank" href="http://www.dallasnews.com/opinion/commentary/2016/09/30/dallas-real-estate-developer-donating-cash-technology-programs-help-schools-poor-neighborhoods">
    <h3>"Dallas developer donating thousands to help schools in poor neighborhoods."</h3>
    <h4> - www.dallasnews.com </h4>
    READ MORE</a>
</section>


<br>
<br>
</main>
<section class="comment">

  <p> "If you really believe that you're making a difference, and that you can leave a legacy of better schools and jobs and safer streets, why would you not spend the money? The objective is to improve the schools, bring down crime, build affordable housing,
    clean the streets - not to have a fair fight."</p>
  <br>
  <h3> - Michael Bloomberg</h3>
</section>
</div>


</div>
