<div class="services-container">
  <center>
    <div class="cd-container cd-color-gray">
      <h1> In The News</h1>
      <!-- <div class="column-12 news-story"> -->
      <p class="news-story">
        <a href="http://www.prnewswire.com/news-releases/ruel-hamilton-provides-apartments-to-victims-of-affordable-housing-crisis-300151604.html">"Dallas Real Estate Investor of AmeriSouth Realty Redevelops and Revitalizes Inner City At-Risk Units for Working Class"</a>
        <br>
          <i>- prnewswire.com</i>
        <br>
      </p>

      <p class="news-story">
        <a href="http://epodcastnetwork.com/how-dallas-real-estate-entrepreneur-ruel-hamilton-revitalizes-and-redevelops-housing-to-provide-homes-to-victims-of-the-affordable-housing-crisis/">"How Dallas Real Estate Entrepreneur, Ruel Hamilton, Revitalizes and Redevelops Housing to Provide Homes to Victims of the Affordable Housing Crisis"</a>
        <br>
          <i>- epodcastnetwork.com</i>
        <br>
      </p>

      <p class="news-story">
        <a href="http://www.dallasnews.com/opinion/commentary/2016/09/30/dallas-real-estate-developer-donating-cash-technology-programs-help-schools-poor-neighborhoods">"Dallas developer donating thousands to help schools in poor neighborhoods."</a>
        <br>
          <i>- dallasnews.com</i>
        <br>
      </p>

      <p class="news-story">
        <a href="http://www.housingfinance.com/policy-legislation/affordable-housing-only-part-of-revitalizing-urban-communities_o">"Affordable Housing Only Part of Revitalizing Urban Communities."</a>
        <br>
          <i>- housingfinance.com</i>
        <br>
      </p>

      <br>
      <br>
    </div>
    <br>
    <br>

  </center>
</div>
<br>
<br>
