<div class="services-container">
  <center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="cd-container cd-color-gray">
      <h1> In The News</h1>
      <p>
        <br>
        <br>
        <a href="http://www.prnewswire.com/news-releases/ruel-hamilton-provides-apartments-to-victims-of-affordable-housing-crisis-300151604.html">"Dallas Real Estate Investor of AmeriSouth Realty Redevelops and Revitalizes Inner City At-Risk Units for Working Class"</a>
        <br>
        <center>
          <i>- prnewswire.com</i>
        </center>
      </p>
      <p>
        <br>
        <a href="http://epodcastnetwork.com/how-dallas-real-estate-entrepreneur-ruel-hamilton-revitalizes-and-redevelops-housing-to-provide-homes-to-victims-of-the-affordable-housing-crisis/">"How Dallas Real Estate Entrepreneur, Ruel Hamilton, Revitalizes and Redevelops Housing to Provide Homes to Victims of the Affordable Housing Crisis"</a>
        <br>
        <center>
          <i>- epodcastnetwork.com</i>
        </center>
      </p>
      <p>
        <br>
        <a href="http://www.dallasnews.com/opinion/commentary/2016/09/30/dallas-real-estate-developer-donating-cash-technology-programs-help-schools-poor-neighborhoods">"Dallas developer donating thousands to help schools in poor neighborhoods."</a>
        <br>
        <center>
          <i>- dallasnews.com</i>
        </center>
      </p>
    </div>
    <br>
    <br>

  </center>
</div>
<br>
<br>
