<div class="services-container">
  <center>

    <div class="cd-container cd-color-gray">
      <h1> Who We Are</h1>
      <img src="img/Ruel_Hamilton_101.jpg" style="float: left; width: 10em; margin-bottom: 10px;">
      <p style=>
        Ruel M. Hamilton is the Chairman and Founder of AmeriSouth Realty Group. Ruel formed Amerisouth in 1987 in the middle of the chaos created by the collapse of the Savings and Loan industry. The company got its start by providing fee property management
        for multi-family and commercial properties owned by all of the various governmental entities responsible for the liquidation of real estate owned by the failed institutions.
      </p>
      <p>
        The company began acquiring C class multi-family apartment communities in 1994 and built a portfolio by acquiring complexes built in the late 1960’s and early 1970’s fueled by HUD’s great building boom of that era. These complexes typically had very low
        rental rates to that had to be transitioned to “market rate” properties as their original financing became prepayable. Hamilton and AmeriSouth have owned and operated just over 10,000 units in Texas and Oklahoma.
      </p>
      <p>
        Hamilton’s business plan is to create value through physical and operational improvements to apartment complexes in tougher, inner-city neighborhoods. He also believes that anything he and AmeriSouth can do to improve the lives of their tenants will ultimately
        improve the neighborhoods within which their communities are located. This includes reducing crime and investing in education not only for the children in AmeriSouth’s complexes but also the surrounding neighborhoods. He has demonstrated that
        lowering crime, improving schools and improving the quality of life in neighborhoods is an effective “Value Add” strategy.
      </p>
    </div>
    <br>
    <br>

  </center>
</div>
<br>
<br>
