<div class="services-container">
<center>

    <br><br><br><br><br><br>
  <div class="cd-container cd-color-gray">
    <h1> Development</h1>
  <p>
  AmeriSouth has developed two new construction TDHCA developments, but the emphasis remains on the rehabilitation of existing apartment communities. Over the years, the company has completed acquisition rehabilitation projects on over 40 apartment communities. In addition to the expertise in acquisition rehabilitation projects, the company specializes in the restoration of its own apartment communities.
  </p>
</div>

</center>
</div>
<br><br>
