<div class="services-container">
  <center>

    <div class="cd-container cd-color-gray">

      <h1> In The Community</h1>

      <p>
        Change starts small.
        <br>
      </p>
      <p>
        It starts with children, it starts with families, and it starts within the communities that we live.
      </p>
      <p>
        We feel we have a tremendous opportunity to help influence and shape the world around us with the communities we own and manage.
      </p>
      <img src="img/in-the-community/good-haven-food-bank.jpg">
      <p>
        Amerisouth has partnered with the North Texas Food Bank(NTFB) to distribute fresh food each week to several our communities. On a weekly basis, in partnership with NTFB, we distribute around 30,000 lbs of food to those in need at our apartment communities.
      </p>
      <img src="img/in-the-community/we-have-a-dream.jpg">
      <p>
        We want to build a sense of community.  Pushing forth a sense of pride in the areas in which many of these kids grow up – however small a part that may be.  And yes, we have a dream of leveling the playing field for all.  But we believe businesses and business leaders need to do a better job of stepping up and providing the support to help make that happen.
      </p>
      <img src="img/in-the-community/easter-party.jpg">
      <p>
        We can’t forget this is a journey though.  We must have fun and enjoy ourselves in the process.  Providing a little joy or a little break from the daily struggles that we all encounter.  And that’s where we work to throw the best events and parties that bring everyone together.  And convincing someone to put on that Easter Bunny costume is just part of it.
      </p>
      <!-- <p>
        It starts with leveling the playing field, and it starts by giving our kids a fighting chance. To do this, we fight to give the children of our communities a chance to learn, grow, and improve. And that's hard to do when you are so focused on playing
        catch up.
      </p>
      <p>
        We work to partner with local organizations to provide after school programs, tutoring, and mentorship that can be a tremendous help to those struggling. They provide an opportunity for learning, engaging, and asking questions that may not get answered
        in the classroom at school.
      </p>
      <p>
        Education is the key to jump starting upwards mobility. When children spend 40 hours a week in a classroom, we expect and trust that they receive the education necessary to their success. Yet - most of the schools in impoverished areas are underfunded
        and under resourced. Education is the biggest opportunity we have to improve lives, and we are missing this opportunity. But that doesn't mean we can't try.
      </p>
      <p>
        We rely so much on the government to provide what's needed. But what about calling upon the businesses and business leaders to help create change that can fill that gap?
      </p>
      <p>
        We all play a role in shaping our future, and at Amerisouth, we believe it's an obligation of business to play a role in shaping that future for the better.
      </p> -->
      <br><br>
      <p>
        <i>"Uplifting Neighborhoods One Apartment Community at a Time."</i>
      </p>
    </div>
    <br>
    <br>

  </center>
</div>
<br>
<br>
