<div class="services-container">
<center>

<div class="cd-container cd-color-gray">
  <h1> Property Management</h1>
<p>
  AmeriSouth's focus remains on delivering quality places to live in the affordable rent market - continually improving product quality while reducing costs through unique efficiency enchancements.
  <br>
  AmeriSouth has been specializing in hands-on multifamily property management for over 28 years. The organization has managed more than 60 apartment complexes and over 11,000 units.
  <br>
  The AmeriSouth organization has controlled over 25 properties with HUD HAP contracts or involving Low Income Housing Tax Credits (LIHTC). Many of AmeriSouth's properties have community programs including after-school programs, a Montessori school, affiliation with local churches, and regular community events.
  <br>
  AmeriSouth's management team has combined unparalleled experience with the relentless energy of a young company to become a recognized leader in the affordable apartment industry.
</p>
  <!-- <div class="row">
      <img src="img/GoodHaven - Foodbank pic.jpg">
  </div> -->
</div>
</center>
</div>
<br><br>
