<div class="services-container">
<center>

  <div class="cd-container cd-color-gray">
    <h1> What We Do</h1>
  <p>
    Recently laid off from a job at Richardson Savings, limited job prospects given recent banking collapse, and a kid on the way, Ruel Hamilton took a leap and started his own venture at AmeriSouth Realty in 1987.
<br>
    In the early days, Ruel carved out a niche learning how to manage asset types and classes that traditional property management operations were either unwilling or unable to handle.  Assets ranged from retail centers to office buildings to multifamily.
<br>
    It wasn't until 1999 that AmeriSouth wondered his way into a new niche - buying and owning multifamily.  Seeing the instability that property management brings along with it encouraged Ruel to take a different approach.  Own the communities you manage to ensure the stability needed to create necessary change.  Focus on long term impact rather than short term returns, and place a constant emphasis on the way you treat your employees, vendors, and customers.
<br>
    And proudly entering our 30th year in business, AmeriSouth has over a third of it's employees that have worked with the company for 10 years or longer.  The retention of this experience and knowledge allows us to go beyond the levels of day to day management, and focus on what really matters.
<br>
    We currently own and operate over 2,000 units spread over 15 apartment communities in Texas with an emphasis in affordable, workforce housing.  Taking care of the existing, aging stock of affordable housing is essential.
<br>
    And we tend to push into areas where investment is absent.  Areas that are distressed, impoverished, and in need of a little love and attention.  This is our biggest chance for making an impact.  And the impact can reach far outside the apartment community helping transform entire neighborhoods.
<br>
    It starts with family, and it starts small.  But change is possible.  Even for those who have been looked over.  And that's who we start with.
<br>
  </p>
</div>

</center>
</div>
<br><br>
